<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>TeStEs Diversos</title>
</head>
<body>
    <h1>Teste basico de pagina web</h1>

    <h3>Lembre-se de atulizar o progresso no git...  <i class="material-icons">code</i></h3>
    <ul>
        <li>git init</li>
        <li>git status</li> 
        <li>git status</li>
        <li>git add .</li>
        <li>git commit -m "Atualizar descricao"</li>
        <li>git remote add origin https://github.com/xxxxxx/xxxxx.git</li>
        <li>git push -u origin master</li>
        <li>user</li>
        <li>password</li>
        <br>
        <br>
        Estes passos são somente para a primeira vez...
        <br>
        Para as demais add/commit/push/user/password
        <br>
        este site https://web-production-30a7.up.railway.app/
    </ul>

    <br>
    <br>
    <h5>
        <form action="/mostrar" method="POST">
            <button>Mostrar</button>
        </form>
        {{msg}}
    </h5>



    <p><form action="/dolarptax" method="POST">
        <button>Ptax</button>
    </form>
    {{ptax}}

<br>
<br>

    <p><form action="/dolaratual1" method="POST">
        <button>Dolar Atual</button>
    </form>
    {{dolaratual}}
<br>
<br>
<br>
<h5>
    Consulta somente 3 por minuto... api do site: https://www.receitaws.com.br/ <br><br>


    
    <form action="/get_data" method="POST">
        <label>CNPJ:</label>
        <input type="text" name="cnpj">

        <button type="submit">Get Data</button>
    </form>
    <p id="data"></p>

    <script>
        // Disable form submission
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
        });

        // Handle response from server
        function handleResponse(response) {
            document.getElementById('data').innerHTML = response;
        }

        // Send request to server on form submit
        document.querySelector('form').addEventListener('submit', function(event) {
            event.preventDefault();
            var form = new FormData(event.target);
            fetch(event.target.action, {
                method: 'POST',
                body: form
            })
            .then(response => response.text())
            .then(data => handleResponse(data))
            .catch(error => console.error(error));
        });
    </script>
</h5>


</body>
</html>
