<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Teste basico de pagina web</h1>

    <h3>Lembre-se de atulizar o progresso no git...  <i class="material-icons">code</i></h3>
    <ul>
        <li>git init</li>
        <li>git status</li> 
        <li>git status</li>
        <li>git add .</li>
        <li>git commit -m "Atualizar descricao"</li>
        <li>git remote add origin https://github.com/xxxxxx/xxxxx.git</li>
        <li>git push -u origin master</li>
        <li>user</li>
        <li>password</li>
        Estes passos são somente para a primeira vez...
        Para as demais add/commit/push/user/password
    </ul>
    
</body>
</html>
